includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - tests
        - bin/build-phar.php
    excludePaths:
        - tests/fuzz
        - tests/fuzz/*
        - tests/fuzz/*.php
